<div style="width:600px;margin:50px auto;padding:20px;border:solid 1px #slategray;">
  <strong>Olá, {{deliveryman}}</strong>
  <p>Nova encomenda registrada, confira os detalhes abaixo:</p>
  <p><strong>Encomenda: </strong> #0000{{deliveryid}}</p>
  <hr />
  <p>
    <strong>Entregador: </strong> {{deliveryman}} <br />
  </p>
  <hr />
  <p>
    <strong>Destinatário: </strong> {{recipient}} <br />
    <strong>Endereço: </strong> {{street}} {{housenumber}}, {{complement}}, {{city}}, {{state}}, {{zipcode}} <br />
  </p>
  <hr />
  <p>
    <strong>Produto: </strong> {{product}} <br />
  </p>
</div>
